@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    opacity: 0;
}

html, body {
    width: 100%;
    height: 100%;
    border: none;
}

.container {
    border: none;
    width: 100%;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.header-wrapper, .footer-wrapper {
    width: 100%;
    background: #486982;
    color: #ededed;
}

.header-wrapper {
    height: 5rem;
}

.logo {
    margin-left: 1rem;
    font-size: 4rem;
}

.footer-wrapper {
    height: 15rem;
}

.main-wrapper {
    display: grid;
    border: none;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 60%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 20rem);
    grid-gap: 2rem;
}

p {
    margin: auto;
    margin-bottom: 2rem;
    width: 60%;
}

.panel {
    padding: 2rem;
    background: #ededed;
    color: #486982;
    border-radius: 1rem;
    font-weight: 700;
    transition: 0.8s;
}

.panel:hover {
    box-shadow: 5px 5px 10px 1px #808080;
    background-size: 105%;
}

.panel-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.panel-2, .panel-3 {
    min-width: 18rem;
    grid-column: 3 / -1;
}

.panel-2 {
    background-image: url('/img/me.jpg');
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #ededed;
    font-size: 2.5rem;
}

.panel-4 {
    grid-column: 1 / -1;
}

@media (max-width: 1240px) {

    .container {
        margin: 0;
    }

}

@media (max-width: 900px) {

    .main-wrapper {
        width: auto;
        grid-template-rows: repeat(5, 20rem);
    }

    .panel {
        min-width: none;
        grid-column: 1 / -1;
    }
}