@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 700px;
    border: 3px solid #ededed;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .x-shape {
    position: absolute;
    width: 60px;
    height: 600px;
    background: #d1dfea;
    transform-origin: center;
    border-radius: 0.4rem;
    z-index: -2;
}

.container #x-left {
    float: left;
    transform: rotate(-45deg);
}

.container #x-right {
    float: right;
    transform: rotate(45deg);
}

.container .white-line {
    position: absolute;
    width: 3px;
    height: 250px;
    background: white;
    z-index: -1;
}

.container #line-hor {
    transform: rotate(90deg);
}

.title {
    position: absolute;
    font-size: 6rem;
    color: #486982;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.instruction {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-transform: uppercase;
    color: #486982;
    font-size: 2rem;
}

@media (max-width: 1240px) {
    .container {
        width: 350px;
        height: 350px;
    }
    .container .x-shape {
        width: 30px;
        height: 300px;
        border-radius: 0.2rem;
    }
    .container .white-line {
        height: 200px;
    }
    .title {
        font-size: 1.80rem;
    }
}

@media (max-width: 370px) {
    .container {
        width: 200px;
        height: 200px;
    }
    .container .x-shape {
        width: 17px;
        height: 170px;
    }
    .title {
        font-size: 1.188rem;
    }
}